@font-face {
  font-family: "iconfont"; /* Project id 3193278 */
  src: url('iconfont.woff2?t=1655713725774') format('woff2'),
       url('iconfont.woff?t=1655713725774') format('woff'),
       url('iconfont.ttf?t=1655713725774') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan1:before {
  content: "\ec7f";
}

.icon-zhuanfa1:before {
  content: "\e63e";
}

.icon-tuichuquanping:before {
  content: "\e792";
}

.icon-quanping:before {
  content: "\ec13";
}

.icon-yinliang:before {
  content: "\e60f";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-shoucang:before {
  content: "\e630";
}

.icon-dianzan:before {
  content: "\ec8c";
}

.icon-zhuanfa:before {
  content: "\e667";
}

.icon-jinzhi:before {
  content: "\e7cc";
}

.icon-riqi:before {
  content: "\e6de";
}

.icon-bofangliang:before {
  content: "\e73a";
}

.icon-UP:before {
  content: "\e664";
}

.icon-youjian:before {
  content: "\e6eb";
}

.icon-fans:before {
  content: "\e611";
}

.icon-setting:before {
  content: "\e8b7";
}

.icon-video:before {
  content: "\e66a";
}

.icon-circle:before {
  content: "\e867";
}

.icon-gantanhao:before {
  content: "\e60e";
}

.icon-yanzhengma:before {
  content: "\e624";
}

.icon-yaoshi:before {
  content: "\e63d";
}

.icon-yonghu:before {
  content: "\e62d";
}

.icon-shouji:before {
  content: "\e8b9";
}

.icon-xiaoxi:before {
  content: "\e693";
}

.icon-gongneng:before {
  content: "\e617";
}

.icon-shangchuan:before {
  content: "\e658";
}

.icon-fangdajing:before {
  content: "\e663";
}

.icon-qian:before {
  content: "\e662";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-xingxing:before {
  content: "\e610";
}

