@import '../css/global';
@import '../css/var';
.banner_box {
    width: 100%;
    height: 280px;
    // background-color: red;
    // display:;
    position:absolute;
    width: 540px;

    height: 279px;
    overflow: hidden;
    border-radius: $radious;

    .pic {
        width: 540px;
        height: 279px;
        border-radius: $radious;
    }

    .swiper-container {
        height: 280px;

    }
}