@import '../css/var.scss';

.content {
    width: 100px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
    user-select: none;
    border: 1px solid $main-white;

    div {
        width: 100px;
        height: 30px;
        margin: 0 auto;

        .icon-chenggong {
            margin-right: 5px;
            color: rgb(33, 186, 33);
            font-weight: 300;
        }
    }
}