/* 
////////////
一下是中间部分
////////////
*/
@import './var';

.mainbox{
    position: relative;
    width: auto;
    height: 618px;
    background:url(../assets/imgs/埃罗芒老师.png) no-repeat;
    // background-image:url(../assets/imgs/埃罗芒老师.png);
    background-position: center;
    background-size: 150%;
    // transition: linear 0.9s;
    // transform: translate(background-position(0px,-240px));
    animation: play 1.3s ease-in-out;
    background-position: 0px -240px;
}
@keyframes play {
    from{background-position: 0px 0px;}
    to{background-position: 0px -240px;}
}
.mainbox .contentbox{
    opacity: .95;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    /* transform: -50%; */
    top: 88px;
    width: 430px;
    height: 408px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
}
.login-container{
    position: absolute;
    left: 50%;
    margin-left: -625px;
    height: 618px;
    width: 1250px;
}
.switch-img{
    position: absolute;
    color: red;
    background: url(../assets/imgs/switch-img.png) no-repeat;
    cursor: pointer;
    z-index: 4;
    width: 54px;
    height: 54px;
    top: 10px;
    right: 10px;
}
.loginheaderbox{
    position: relative;
    // top: 0%;
    width: 250px;
    height: 38px;
}
.loginheader{
    /* text-align: center; */
    position: relative;
    // display: inline-block;
    padding-left: 95px;
    color: #333;
    /* top: 20px; */
    vertical-align:bottom;
    bottom: 0px;
    height: 38px;
    line-height: 58px;
    // font-weight: 400;
    // font-size: 16px;
}
.loginheader::before{
    position: absolute;
    left: 0px;
    content: "Circle";
    font-weight:100;
    color: rgb(253, 159, 192);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    width: 94.5px;
    height: 38px;
}

.loginbox{
    position: relative;
    height: 240px;
    margin-bottom: 72px;
    width: 380px;
    background-color: #fff;
}
.login-help:hover{
    color: rgb(15,155,241) !important;
}
.login-account-switch:hover{
    color: rgb(15,155,241) !important;
}
.register:hover{
    color: rgb(15,155,241) !important;
}
.mabox{
    /* position: relative; */
    height: 168px;
    margin-top: 44px;
    width: 168px;
    float: left;
}
.qrcodebox{
    margin-top: 44px;
    position: absolute;
    height: 168px;
    width: 168px;
    border: rgb(218, 216, 216) 1px solid;
    z-index: 0;
    /* display: inline-block; */
}
.mengban{
    position: absolute;
    top:0px;
    height: 168px;
    width: 168px;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: -1;
}
.statusinfo{
    width: 168px;
    height: 22px;
    margin-top: 49px;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: center;
    z-index: 3;
}

.qrcodebox .statusbutton{
    width: 105px;
    height: 36px;
    display: block;
    width: 105px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    background-color: rgb(15,155,241);
    border: none !important;
    border-radius: 5px;
    margin: 0 auto;
    z-index: 3;
    cursor: pointer;
    
}
.mabox .ma{
    border: rgb(218, 216, 216) 1px solid;
    width: 168px;
    height: 168px;
    z-index: 1;
}
.loginbox .pic{
    float: right;
    height: 246px;
    width: 210px;
}
.loginform{
    position: absolute;
    // visibility: hidden;
    width: 380px;
    height: 169px;
    padding-top: 50px;
}
.account,.password{
    outline: none;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 274px;
    /* text-indent: 1rem; */
    margin-top: 11px;
    border: none;
}
.alertdiv{
    // visibility: hidden;
    width: 322px;
    margin-bottom: 5px;
    margin-left: 32px;
    font-size: 14px;
    .icon-gantanhao{
        &::before{
            font-size: 14px;
        }
        color: $main-pink-red;
    }
    .alertspan{
        color: $main-pink-red;
        margin-left: 4px;
    }
}
.loginbox .account::placeholder,.loginbox .password::placeholder{
    font-size: 14px;
    color: #bebebe;
    font-weight: 100;
}
.accountbox,.passwordbox{
    width: 320px;
    border: rgb(221, 221, 221) 1px solid;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
}
.accountboxi{
    width: 24px;
    float: left;
    margin: 8px 8px 0px 8px;
    height: 24px;
    background-image: url(../assets/imgs/账号icon.png)  !important;
    background: no-repeat center;
}
.passwordboxi{
    width: 24px;
    float: left;
    margin: 8px 8px 0px 8px;
    height: 24px;
    background-image: url(../assets/imgs/密码icon.png) !important;
    background: no-repeat 50%;

}
.loginbox .loginbutton{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    font-size: 16px;
    line-height: 40px;
    color: #ececec;
    background-color: rgb(15,155,241);
    height: 40px;
    cursor: pointer;
    width: 320px;
}
.logintips,.clicklink{
    font-size: 12px;
}
.logintips{
    margin: 6px auto ;
    color: rgb(168, 168, 168);
    text-align: center;
    width: 380px;
}
.clicklink{
    display: block;
    width: 90px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(15,155,241);
    text-decoration: underline;
    margin: 0 auto 15px;
}
.loginopts{
    position: relative;
    width: 380px;
    // top: 460px;
    // left: 50px;
}
.loginopts a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(145, 143, 143);
}
.login-help{
    margin-right: 188px;
}
.login-account-switch{
    margin-right: 14px;
    color: #333 !important;
}
.register{
    color: #333 !important;
}
.loginsuccess {
    opacity: .95;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    /* transform: -50%; */
    top: 88px;
    width: 430px;
    height: 408px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
    .touxiang {
        background-image: url(../assets/imgs/头像.jpg);
        position: absolute;
        border-radius: 100px;
        background-position: 0px -10px;
        top: 40px;
        left: 50%;
        margin-left: -62.5px;
        width: 125px;
        height: 125px;
    }

    .welcomediv {
        // background-color: red;
        text-align: center;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        top: 190px;
        color: $main-pink;

        .nickname {
            font-size: 24px;
        }

        .text {
            // text-align: center;
            position: absolute;
            top: 100px;
            margin-left: -100px;
            width: 200px;
            color: $unfocus;
        }
    }
}
