@import '../css/var.scss';

@mixin required {
    .tips {
        margin-left: 10px;
        font-size: 12px;
        color: $unfocus;
    }

    .title {
        font-size: 18px;
        color: $focus;
    }

    p {
        display: inline-block;
    }

    .star {
        color: $main-pink-red;
    }
}

@mixin uploadstyle {
    .hoverdiv {
        width: 600px;
        margin: 0 auto;
        height: 300px;
        text-align: center;
        line-height: 260px;
        cursor: pointer;

        .update_info {
            position: absolute;
            // top: 0px;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 60px;

            p {
                // position: absolute;
                font-size: 14px;
                color: $unfocus;
                width: 250px;
                height: 18px;
                line-height: 18px;
                text-align: center;
            }
        }
    }

    .icon-shangchuan {
        font-size: 72px;
        font-weight: 100;
        position: absolute;
        top: 14%;
        left: 50%;
        margin-left: -36px;
        color: $main-blue;
    }

    .choosefile {
        position: absolute;
        cursor: pointer;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        color: $main-white;
        background-color: $main-blue;
        left: 50%;
        top: 78%;
        margin-left: -100px;
    }
}

@mixin input {
    outline: none;
    border-radius: 4px;
    border: #DCDFE6 1px solid;
    text-indent: 6px;
    font-size: 14px;
    line-height: 30px;
    width: 400px;
    height: 30px;
    margin-top: 6px;
}

.updatevideo_area {
    width: 600px;
    margin: 100px auto;
    height: 300px;
    border: 2px dashed $main-blue;
    background: transparent;
    position: relative;
    @include uploadstyle()
}

.updatebtn {
    .uploadinput {
        display: none;
    }
}

.source_image_mask {
    position: absolute;
    // width: 100%;
    // height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    // width: 100vw;
    // height: 100vh;
    // background-color: black;

    .source_image_content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 520px;
        height: 450px;
        background-color: $main-white;

        .source-image {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .cancel {
            position: absolute;
            right: 0px;
            width: 520px;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cancel_text {
                font-style: 16px;
                margin-left: 30px;
                // left: 0px;
            }

            .icon-guanbi {
                cursor: pointer;
                margin-right: 30px;
                font-weight: 300;
                font-size: 30px;
                line-height: 40px;
                font-size: 20px;
                // right: 10px;
            }
        }

        .rechoose,
        .confirm {
            user-select: none;
            cursor: pointer;
            position: absolute;
            width: 180px;
            height: 36px;
            border-radius: 10px;
            // background-color: red;
            bottom: 20px;
            text-align: center;
            line-height: 36px;
            font-size: 16px;
        }

        .confirm {
            right: 0px;
            // border: 1px;
            background-color: $main-red;
            color: $main-white;
            margin-right: 30px;
        }

        .rechoose {
            left: 0px;
            border: 1px solid $main-red;
            color: $main-red;
            margin-left: 30px;
        }
    }

}

.selected_area {
    width: 1000px;
    height: 800px;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;

    .video_info {
        width: 600px;
        height: 800px;



        .title {
            margin-top: 20px;
            font-size: 22px;
            color: $focus;
            font-weight: 400;
        }

        .cover {
            position: relative;
            margin-top: 20px;
            width: 600px;
            height: 140px;

            .video_cover_preview {
                cursor: pointer;
                top: 0px;
                position: absolute;
                z-index: 40;
                // background-color: red;
                width: 224px;
                height: 126px;
            }

            // background-color: $main-blue;
            .no_cover {
                position: absolute;
                background-color: $main-grey;
                width: 224px;
                height: 126px;
                cursor: pointer;

                .icon-shangchuan {
                    position: absolute;
                    font-size: 28px;
                    top: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $unfocus;
                }

                .upload_cover_input {
                    display: none;
                }
            }

            .cover_des {
                position: absolute;
                right: 0px;
                width: 376px;
                height: 126px;
                padding: 20px;
                box-sizing: border-box;

                @include required;

                .des {
                    font-size: 12px;
                    color: $unfocus;
                }
            }

            .cover_img {
                width: 224px;
                height: 126px;
            }


        }

        .video_title,
        .video_partition {
            height: 90px;
            @include required();

            .the_input {

                &:focus,
                &:hover {
                    border: $main-blue 1px solid;
                }

                @include input();

            }

            .block {
                margin-top: 6px;
            }
        }

        .video_tag {
            @include required();

            margin-top: 10px;

            .tag_input_div {
                display: flex;
                flex-wrap: wrap;
                width: 390px;
                height: auto;
                min-height: 30px;
                box-sizing: content-box;
                justify-content: flex-start;
                align-items: center;
                border: #DCDFE6 1px solid;
                border-radius: 5px;
                margin-top: 6px;

                &:focus,
                &:hover {
                    border: $main-blue 1px solid;
                }

                padding: 5px;

                .tag {
                    display: inline-block;
                    // width: 30px;
                    line-height: 30px;
                    // padding: 10px;
                    height: 30px;
                    font-size: 14px;
                    color: $main-blue;
                    margin: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                    border-radius: 5px;
                    background-color: $main-grey;

                    .icon-guanbi {
                        font-size: 14px;
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }

                .the_input_instance {
                    display: inline-block;
                    min-width: 200px;
                    // width: auto;
                    height: 20px;
                    margin: 5px;
                    flex: 1;

                    .the_input {
                        // min-width: 200px;
                        width: 100%;
                        height: 20px;
                        border: none;
                        outline: none;
                        margin-left: 5px;
                        vertical-align: top;

                        &::placeholder {
                            font-size: 14px;
                        }
                    }
                }

                .tip_info {
                    display: inline-block;
                    font-size: 14px;
                    margin: 8px 0 8px 12px;
                    margin-right: 8px;
                    cursor: default;
                    color: #DCDFE6;
                }
            }
        }

        .video_summary {
            @include required();

            .the_input {

                &:focus,
                &:hover {
                    border: $main-blue 1px solid;
                }

                width: 400px !important;
                @include input();
                font-family:Arial,
                Helvetica,
                sans-serif;
            }
        }

        .submit_btn {
            // position: absolute;
            cursor: pointer;
            width: 200px;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            color: $main-white;
            background-color: $main-blue;
            left: 50%;
            top: 78%;
            margin-top: 30px;
            // margin-left: 100px;
            // margin: 0 auto;
        }
    }

    .upload_list {
        margin-top: 20px;
        width: 400px;

        .upload_list_title {
            font-size: 22px;
            font-weight: 400;
            color: $focus;
        }

        .tips_info {
            font-size: 12px;
            color: $unfocus;
        }

        .video_list {
            margin-top: 20px;
            width: 380px;

            .video_file {
                width: 390px;
                height: 70px;
                background-color: $rice;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 16px;

                .video_attribute {
                    width: 400px;
                    height: 30px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-top: 5px;

                    .p_part,
                    .remain_word {
                        margin-right: 10px;
                        margin-left: 10px;

                        color: $focus;
                    }

                    .remain_word {
                        font-size: 12px;
                        ;
                        margin-right: 18px;
                    }

                    .p_name {
                        border: 1px solid $font-grey;
                        outline: none;
                        height: 20px;
                        text-indent: 4px;
                        line-height: 20px;
                        width: 300px;
                        border-radius: 5px;

                        &:focus,
                        &:hover {
                            border: $main-blue 1px solid;
                        }
                    }
                }

                .video_process {
                    margin-left: 40px;
                    border-radius: 8px;
                    background-color: $unfocus;
                    width: 300px;
                    height: 6px;

                    .finish_part {
                        height: 6px;
                        border-radius: 8px;
                        background-color: $main-blue;
                    }
                }

                .video_state {
                    font-size: 12px;
                    width: 300px;
                    display: flex;
                    margin-left: 38px;
                    justify-content: space-between;
                    color: $focus;
                    padding-bottom: 5px;

                    .state {
                        width: 200px;
                    }

                    .delete_video {
                        color: $unfocus;
                        text-decoration: none;
                    }
                }
            }
        }

        .add_video_file {
            margin-top: 30px;
            width: 390px;
            height: 350px;
            border: 2px dashed $main-blue;
            position: relative;
            @include uploadstyle();

            .hoverdiv {
                width: 390px;
                height: 400px;

                // line-height: 100px;
                .ddd {
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    left: 50%;
                    top: 35%;
                    transform: translate(-50%, -50%);
                    // color:red;

                }

                .icon-shangchuan {
                    top: 10%;
                    height: 72px;
                    line-height: 72px;
                }

                .update_info {
                    top: 50%;
                }

                .choosefile {
                    top: 75%;
                }
            }

        }
    }
}