@import '../css/var.scss';

.updatevideo_area {
    width: 600px;
    margin: 60px auto;
    height: 300px;
    border: 2px dashed $main-blue;
    z-index: 20;
    background: transparent;
    .hoverdiv {
        z-index: 1;
        width: 600px;
        margin: 0 auto;
        height: 300px;
        text-align: center;
        line-height: 300px;
        // display: none;
        background-color: $main-grey;
        cursor: pointer;
        // background-color: $unfocus;
    }
}

.updatebtn {
    // margin-right: 40px;
    margin: 0 auto;
    width: 300px;
    height: 200px;

    .chooseimg,
    .submit {
        cursor: pointer;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
        text-align: center;
        line-height: 40px;
        color: $main-white;
        background-color: $main-blue;
        float: right;
    }

    .submit {
        // margin-top: 20px;
        margin-right: 100px;
    }

    .uploadinput {
        display: none;
    }
}