/* 
///////////
以下是footer部分
///////////
*/
// @import './global.scss';
.footer{
    padding: 20px 0 20px 0;
    width: auto;
    height: 300px;
    background-color: #ececec;
}
.footermain{
    margin: 0 auto;
    position: relative;
    height: 306px;
    width: 1163px;
    /* margin: 0 67px 0 67px; */
}
.footertop a{
    margin-right: 18px;
    color: rgb(51, 51, 51);
    font-size: 12px;
}
.footertop{
    width: 1163px;
    height: 86px;
    margin-bottom: 50px;
}
.coop,.offical,.download,.friendly,.feedback{
    color: rgb(168, 168, 168);
    font-size: 11px;
    padding: 0px 46px 0px 46px;
    float: left;
    line-height: 30px;
    width: 140px;
    border-right: rgb(231, 231, 231) solid 1px;
}
.download{
    width: 140px !important;
    padding-right: 36px !important;
}
.download a{
    margin: 0px !important;
}
.new{
    background: #fd4c5d;
    color: #fff;
    width: 28px;
    height: 12px;
    line-height: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
}
.coop{
    padding-left: 0px !important;
}
.feedback{
    border: none !important;
}
.emplosp{
    width: 150px;
}
.offical{
    width: 156px;
}
.feedback{
    width: 210px;
}
.friendly{
    width: 88px;
}
.footer-ac{
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    background-color: #fff;
}
.footer-ac img{
    width: 70px;
    vertical-align: middle;
    height: 61px;
}


/* 
/////////////
以下是底部链接部分
/////////////
*/
.footerlink a,.footerlink span{
    font-size: 11px ;
    color: #999 !important;
    line-height: 21px !important;
}
.footerbottom{
    line-height: 24px;
    width: 1163px;
    height: 96px;
    margin-bottom: 20px;
}
.footerbottom img{
    margin-right: 8px;
}
.area1,.area2,.area3,.area4,.area5,.area6{
    line-height: 24px;
}
.area1{
    float: left;
    width: 422px;
    height: 72px;
}
.area1 a{
    width: 422px !important;
    height: 20px;
}
.area1-link1icon{
    vertical-align: middle;
}
.area1-link2icon{
    vertical-align: middle;
}
.area1-link3icon{
    vertical-align: middle;
}
.area2{
    float: left;
    width: 156px;
    height: 72px;
    padding-left: 18px;
}
.area3{
    float: left;
    width: 139px;
    height: 48px;
    padding-left: 59px;
}
.area4{
    float: left;
    width: 236px;
    height: 48px;
    padding-left: 45px;
}
.area5{
    float: left;
    width: 456px;
    line-height: 24px;
    height: 24px;
    padding-left: 18px;
}
.area5 span{
    display: inline-block;
}
.area6{
    float: left;
    width: 1163px;
    height: 24px;
}
.area5 span{
    line-height: 24px;
    color: red;
}
.area6-span2{
    margin-left: 16px;
}
.area6-span3{
    margin-left: 103px;
}
.footerdeeply{
    text-align: center;
    width: 1163px;
    height: 54px;
}
.footerdeeply img{
    margin-bottom: 10px;
}
.footerdeeply p{
    font-size: 12px;
    color: rgb(180, 180, 180);
}