@import '../css/var';
@mixin scrollstyle {

    &::-webkit-scrollbar {
        width: 4px !important;
        height: 4px !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $unfocus;

        &:hover {
            background-color: $focus;
        }
    }
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    @include scrollstyle;

}
body{
    width: 100%;
    height: 100%;
}
input[type="password"]::-ms-reveal{
    display:none
}
.iconfont{
    font-size: 18px;
    display: inline-block;
    font-weight: 800;
    color: rgb(180, 180, 180);
}