/* 
head */
@import '../css/var';

.head {
    min-width: 800px;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid $main-grey;

}

@media screen and (min-width: 1151px) and (max-width: 1810px) {
    .head .headmain {
        width: calc(100% - 200px) !important;
    }

    .lv1guide {
        margin-left: 96.5px;
        margin-right: 96.5px;
    }

    .lv1guideul {
        width: auto !important;
        margin: 0, 96.5px;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1150px) {
    .head .headmain {
        width: 1050px;
        margin: auto calc(50% - 525px) !important;
    }
}

.head .headmain {
    width: 100%;
    background-color: #fff;
    display: flex;
    max-width: 1190px;
    min-width: 1050px;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.head .navbox {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: inline-block;
    width: 168px;
    height: 60px;
}

#lv1guide {
    position: relative;
    width: 1190px;
    margin: 0 auto;
    visibility: hidden;
    z-index: 10;
    height: 40px;
    background-color: #fff;
    opacity: .85;
}

.lv1guideul {
    display: inline-block;
    width: auto;
    margin: 0px 96.5px;
    height: 40px;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
}

.lv1guideul li {
    display: inline-block;
}

.lv1 {
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: auto;
    margin-right: 20px;
    float: left;
}

.lv1 a {
    color: #333;
    padding: 0px 6px;
}

.lv1 a:hover {
    color: rgb(15, 155, 241);
}

#lv2guide {
    z-index: 30;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: -232px;
    width: 1190px;
    // margin: 0 auto;
    visibility: hidden;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    font-size: 14px;
    opacity: .85;

}

.lv2guideul {
    display: none;
    // position: relative;
    line-height: 40px;
    height: 40px;
    width: auto;
    margin: 0px 74px;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
}

.lv2guideul li {
    z-index: 10;
    float: left;
    margin-left: 20px;
}

.lv2guideul li a {
    z-index: 10;
    color: #333;
    padding: 0px 6px;
}

.lv2guideul li a:hover {
    color: rgb(15, 155, 241);
}

.lv2guideul:nth-child(0) {
    position: absolute;
}

.head .searcharea {
    position: relative;
    height: 60px !important;
    width: 300px;
}

.navbox img {
    display: inline-block;
    height: 46px;
}

.daohangbox {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
    text-align: center;
}

.daohangbox2 {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.icon-gongneng {
    vertical-align: middle;
    transition: all 0.3s;
}

.daohangbox a {
    font-size: 14px;
    color: #333;
}

.iconbox {
    font-size: 16px;
    position: absolute;
    float: right;
    width: 20px;
    height: 20px;
    top: 32%;
    right: -41px;
    color: rgb(207, 207, 207);
}

.head .searchbox {
    position: absolute;
    top: 22%;
    left: 51px;
    height: 30px;
    width: 300px;
    text-indent: 1rem;
    border: solid rgb(223, 220, 220) 1px;
    border-radius: 40px;
    outline: none;
}

.headguide {
    display: flex;
    align-items: center;
    height: 60px;
    width: 370px;
    list-style: none;
    float: right;
    justify-content: space-between;

    .logintext-avatar {
        position: relative;
        width: 40px;

    }

    .logintext-login {
        position: relative;
        width: 80px;

        .logintextlink {
            color: $unfocus  !important;

            &:hover {
                color: $main-blue  !important;
            }
        }
    }
}

.headguide li {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    width: 20px;
    align-items: center;
    text-align: center;
}

.headguide .guide-upload {
    margin-top: 2px;
    vertical-align: middle;
    display: flex;
    border: 1px solid rgb(15, 155, 241);
    justify-content: space-between;
    align-items: center;
    width: 52px;
    height: 26px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgb(15, 155, 241);

    .linktext {
        line-height: 26px;
        display: inline-block;
        width: 56px;
        height: 26px;
        color: $main-white;
    }

    // .icon-shangchuan {
    //     height: 26px;
    // }

    // a {
    //     color: $main-white;
    // }
}

.word {
    transition: all 0.3s;
    visibility: hidden;
    z-index: 3;
    transform-origin: top center;
    height: 24px;
    line-height: 24px;
    width: 40px;
    left: -11px;
    display: inline-block;
    position: absolute;
    top: 25px;
    color: rgb(138, 138, 138);
    text-align: center;
    font-size: 12px;
}

.guideicon,
icon-shouji {
    transition: all 0.3s;
    align-items: center;
    vertical-align: middle;
}

.guide-upload .icon-shangchuan {
    color: rgb(255, 255, 255) !important;
}

.icon-shangchuana {
    line-height: 20px;
}

.icon-fangdajing {
    color: rgb(15, 155, 241);

}

.iconfont:hover {
    color: rgb(15, 155, 241);
}

.headguide a {
    position: relative;
    font-size: 14px;
    height: 20px;
    width: 28px;
}

// 头像
.avatar {
    transition: all .1s;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    // background-image: url(../assets/imgs/头像.jpg);
    background-position: 0px -2px;
    background-size: auto 110%;
}

.userbox {
    transition: all .1s;
    box-shadow: 0px 2px 5px $unfocus;
    left: 50%;
    display: none;
    margin-left: -125px;
    top: 60px;
    border-top: $main-grey 1px solid;
    position: relative;
    width: 250px;
    height: 90px;
    z-index: 1;
    background-color: $white;

    .logout {
        height: 40px;
        width: 250px;

        .username {
            text-decoration: none;
            width: 70px;
            margin-top: 20px;
            height: 20px;
            float: left;
            margin-left: 10px;
            line-height: 20px;
            color: $unfocus;

            &:hover {
                color: $main-blue;
            }
        }

        .logouta {
            width: 70px;
            text-decoration: none;
            margin-top: 20px;
            color: $unfocus;
            height: 20px;
            line-height: 20px;

            &:hover {
                color: $main-pink-red;
            }

            float: right;
            align-items: unset;
            margin-right: 10px;
        }
    }

    .home {
        height: 40px;
        width: 250px;
        margin-top: 10px;
        line-height: 40px;
        text-decoration: none;
        cursor: pointer;

        a {
            color: $unfocus;
        }

        &:hover {
            background-color: $rice;

            a {
                color: $main-blue;
            }
        }
    }
}