@import '../css/var';
@import '../css/banner.scss';
html {
    background-color: $rice;
}

.streamer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    // background-;
    background-image: url(../assets/imgs/banners/banner.webp);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

@media screen and (max-width:1200) {}

.top_area {
    display: grid;
    position: absolute;
    grid-gap: 20px 14px;
    grid-template-columns: repeat(5, 1fr);
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    top: 270px;
    height: 420px;

    .banner_container {
        height: 370px;
        width: 540px;
        grid-column: 1/3;
        grid-row: 1/3;

        .banner_mask {
            position: absolute;
            z-index: 3;
            display: inline-block;
            height: 370px;
            width: 540px;
            border-radius: $radious;
            overflow: hidden;
            background-image: linear-gradient(0, #2f3238 25%, transparent 45%);
        }

    }


    .recommond_video {
        // position: relative;
        display: inline-block;
        width: 660px;
        height: 270px;
    }
}