@import '../css/var.scss';

.momentdiv {
    border-radius: 10px;
    width: 800px;
    min-height: 153px;
    background-color: $white;
    margin-bottom: 10px;
    height: auto;
    word-break: break-all;

    /deep/.content {
        width: 700px;
        margin-left: 80px;
        margin-top: 20px;

        img {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            margin-right: 1px;
        }

    }

    .bottom {
        width: 700px;
        height: 48px;
        margin-left: 80px;
        margin-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        align-items: center;

        div {
            user-select: none;
            width: 48px;
            height: 48px;
            line-height: 48px;
        }

        i {
            font-size: 16px;
            color: $unfocus;
            font-weight: 100;
        }
    }

    .user {
        width: 800px;
        height: 64px;
        display: flex;
        padding-top: 4px;

        .nickname {
            margin-top: 14px;
            margin-left: 14px;
            font-size: 20px;
            height: 30px;
            width: 150px;
            color: $main-pink;
            vertical-align: top;
            display: inline-block;
        }

        .avatar {
            width: 54px;
            height: 54px;
            border-radius: 100%;
            margin-left: 14px;
            margin-top: 10px;
            display: inline-block;
            size: 100px;
        }

        .time {
            height: 18px;
            font-size: 12px;
            color: $unfocus;
            margin-top: 44px;
            margin-left: -150px;
            display: inline-block;
        }

    }

    .spreate {
        width: auto;
        height: 10px;
        background-color: $main-white;
    }
}