@import '../css/var.scss';

.searchdiv {
    width: 1920px;
    height: 120px;
    // background-color: green;
    margin: 0 auto;

    .searchbox {
        position: absolute;
        // top: 50%;
        margin-top: 27px;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 48px;
        // border: solid rgb(223, 220, 220) 1px;
        border-radius: 10px;
        outline: none;
        background-color: $main-white;

        &:focus {
            border: 1px solid $main-blue;
        }

        .searchInput {
            // top: 22%;
            height: 36px;
            // vertical-align: middle;
            width: 380px;
            text-indent: 1rem;
            background-color: $main-white;

            &:focus {
                border: 1px solid $main-blue;
            }

            font-size: 18px;
            border: none;
            border-radius: 10px;
            outline: none;
            color: $focus;
        }

        .sou {
            height: 40px;
            border-radius: 10px;
            width: 100px;
            // margin-right: 4px;
            color: $main-white;
            background-color: $main-blue;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
        }
    }

    .distinguish {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        float: left;
        margin-top: 84px;
        padding-left: 64px;
        width: 192px;
        height: 36px;

        // background-color: red;
        .video,
        .user {
            user-select: none;
            cursor: pointer;
            line-height: 36px;
            text-align: center;
            display: inline-block;
            width: 80px;
            height: 36px;

            a {
                display: inline-block;
                width: 80px;
                height: 36px;

                text-decoration: none;
                color: $focus;
            }

            // background-color: green;
        }

        .video {
            border-bottom: 2px solid $main-blue;
        }
    }
}