@import '../css/var.scss';

.searchdiv {
    width: 1920px;
    height: 120px;
    // background-color: green;
    margin: 0 auto;

    .searchbox {
        position: absolute;
        // top: 50%;
        margin-top: 27px;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        height: 48px;
        // border: solid rgb(223, 220, 220) 1px;
        border-radius: 10px;
        outline: none;
        // background-color: $main-white;

        &:focus {
            border: 1px solid $main-blue;
        }

        .searchInput {
            // top: 22%;
            height: 36px;
            // vertical-align: middle;
            width: 380px;
            text-indent: 1rem;
            background-color: rgb(241, 241, 241);

            &::-webkit-input-placeholder {
                // color: red;
                color: $unfocus;
                font-size: 16px;

            }

            &:focus {
                border: 1px solid $main-blue;
            }

            font-size: 16px;
            border: none;
            border-radius: 10px;
            outline: none;
            color: $focus;
        }

        .sou {
            height: 40px;
            border-radius: 10px;
            width: 100px;
            // margin-right: 4px;
            color: $main-white;
            background-color: $main-blue;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
        }
    }

    .distinguish {

        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 84px;
        // padding-left: 64px;
        width: 1190px;
        height: 36px;

        .line {
            position: absolute;
            bottom: 0px;
            width: 64px;
            height: 4px;
            margin-left: 72px;
            background-color: $main-blue;
            transform: translateX(-64px);
            transition: all ease-in-out .3s;
            border-radius: 10px;
        }
        .video,
        .user {
            user-select: none;
            cursor: pointer;
            line-height: 36px;
            text-align: center;
            display: inline-block;
            width: 80px;
            height: 36px;

            a {
                display: inline-block;
                width: 80px;
                height: 36px;

                text-decoration: none;
                color: $focus;
            }
        }
    }
}

.switchdiv {
    max-width: 1190px;
    height: 800px;
    margin: 0 auto;
}