@import '../css/var.scss';
.togle{
    position: relative;
    width: 800px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    .basicinfo,.accountsecurity{
        cursor: pointer;
        user-select: none;
        width: 64px;
        height: 40px;
    }
    .accountsecurity{
        margin-left: 64px;
    }
    .line{
        position:absolute;
        bottom: 0px;
        width: 64px;
        height: 4px;
        background-color: $main-blue;
        transform: translateX(-64px);
        transition: all ease-in-out .3s;
        border-radius: 10px;
    }
}
.routerdiv{
    width: 800px;
    height: 800px;
    background-color: #fff;
}
