// * ::-webkit-scrollbar {
//     width: 5px !important;
//     height: 5px !important;
// }
@import '../css/var';

.publish {
    // background-color: rgb(219, 219, 219);
    min-width: 632px;
    min-height: 80px;
    max-height: 350px;
    padding: 16px;

    .publish_input {
        .text_area {
            min-height: 80px;
            max-height: 350px;
            overflow: auto;
            overflow-x: visible;
            width: 778px;

            &::-webkit-scrollbar {
                width: 5px !important;
                height: 5px !important;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $unfocus;

                &:hover {
                    background-color: $focus;

                }
            }

            .text_area_inner {
                outline: none;

                // max-width: 632px;
                &:empty:before {
                    color: #99a2aa;
                    content: attr(placeholder);
                    font-size: inherit;
                    letter-spacing: inherit;
                    line-height: inherit;
                    pointer-events: none;
                    position: absolute;
                }

                &:focus:before {
                    content: none;
                }
            }


        }
    }
}