/* 
////////////
一下是中间部分
////////////
*/
@import '../css/var';

* {
    margin: 0;
    padding: 0;
}

// 改变滚动条样式，但是没效果
// body ::-webkit-scrollbar {
//     width: 5px;
//     height: 8px;
//     background-color: rgb(255, 0, 0);
//     /* or add it to the track */
// }

// /* Add a thumb */
// body ::-webkit-scrollbar-thumb {
//     background: rgb(0, 81, 105);
// }

.bg {
    pointer-events: none;
    z-index: -1;
    position: fixed;
    top: -1vh;
    left: 50%;
    width: 100%;
    height: 56.25vw;
    transform: translateX(-50%);
    background: url(../assets/imgs/主页背景图.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}

.usermain {
    margin-top: 20vh !important;
    min-height: 1500vh;
    width: 70vw;
    background-color: $white;
    opacity: .99;
    margin: 0 auto;

    .useravatar {
        // margin-top: 10vh;
        position: relative;
        top: -12vh;
        left: 50%;
        transform: translateX(-50%);
        width: 14vh;
        height: 14vh;
        background: url(../assets/imgs/头像.jpg) no-repeat;
        // background-attachment: fixed;
        border-radius: 100%;
        background-position: center;
        background-size: 110%;


    }

    .userinfo {
        margin-top: -14vh;
        width: 70vw;
        height: 8vh;
        // background-color: goldenrod;
        text-align: center;
        float: right;
        border-bottom: 1px solid $main-grey;
        .nickname {
            font-size: 3vh;
            // text-align: center;
            // align-items:center;
            line-height: 8vh;
            color: $main-pink;
            // display: inline-block;
            // margin-top: 1vh;
            width: 10vw;
            height: 8vh;
            float: left;
        }

        .sign {
            float: left;
            text-align: left;
            box-sizing: border-box;
            font-size: 1vh; 
            padding: 2vh;
            width: 30vw;
            height: 8vh;
            // background-color: rgb(70, 10, 10);
        }
        .listnum{
            // margin-top: 5px;
            font-size: 20px;
            line-height:1.8vw;
        }
        .listlink{
            font-size: 14px;
            text-decoration: none;
            color: $unfocus;
        }
        .fans,
        .follow,
        .manuscript {
            box-sizing: border-box;
            text-align: center;
            // line-height:8vh ;
            padding:0 2vh;
            float: left;
            width: 10vw;
            height: 8vh;
            // background-color: red;
        }

    }
}