$main-blue:rgb(15,155,241);
$main-pink:rgb(253, 159, 192);
$main-pink-red:rgb(255, 100, 100);
$main-white:rgb(248,248,248);
$main-grey:rgb(236,236,236);
$white:#fff;
$focus:#333;
$unfocus:#999;
$rice:rgb(245, 245, 245);
$radious:10px;