@import '../css/var.scss';

.togle {
    position: relative;
    width: 800px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;

    .page1,
    .page2 {
        cursor: pointer;
        user-select: none;
        width: 64px;
        height: 40px;
    }

    .page2 {
        margin-left: 64px;
    }

    .line {
        position: absolute;
        bottom: 0px;
        width: 64px;
        height: 4px;
        background-color: $main-blue;
        transform: translateX(-64px);
        transition: all ease-in-out .3s;
        border-radius: 10px;
    }

}

.backgroundDiv {
    width: 800px;
    height: 950px;

    background-color: #fff;
    position: absolute;
    // border-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    // overflow: hidden;
    .myvideos_content{
        .myvideos{
            display: grid;
            gap: 10px 0px;
            margin-top: 30px;
            justify-content:space-evenly;
            width: 800px;
            grid-template-columns: repeat(3,224px);
            grid-template-rows: repeat(4,200px);
            height: 900px;
        }
        /deep/.pagination{
            position: relative;
          bottom: 30px;
        }
    }
    .emptyinfo {
        position: absolute;
        width: 800px;
        height: 650px;
        background-color: #fff;
        border-radius: 30px;

        .empty,
        .emptytext {
            // margin: 300px auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .emptytext {
            top: 65%;
        }
    }
}