@import './var';

.vp_content {
    width: 220px;
    height: 200px;
    display: inline-block;
    .vp_box {

        display: inline-block;
        width: 220px;
        border-radius: 10px;
        height: 150px;
        background-color: $main-blue;
        // margin-left: 20px;
    }

    .vp_info_div {
        margin-top: 8px;
        width: 220px;

        a {
            font-size: 16px;
            text-decoration: none;
            color: $focus;
        }

        .vp_info {
            // margin-top: 10px;

            a {
                font-size: 14px;
                text-decoration: none;
                color: $unfocus;
            }

        }
    }
}